<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的班级</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div style="margin: 50px 50px 50px 50px;">
    <br><br>
    <input type="hidden" name="gradeId" id="gradeId" th:value="${gradeId}">
    <table id="tableList" lay-filter="tableList"></table>
</div>

</body>
<script src="/layui/layui.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/education/grade/myStudent.js"></script>
<!--工具栏-->
<script type="text/html" id="barTool">
    <a class="layui-btn layui-btn-xs" lay-event="edit">查看</a>
</script>
</html>